---
import Layout from "../layouts/Layout.astro";
import { TestComponent } from "../components/TestComponent.tsx";
import styles from "./style.module.css";
import Card from "../components/Card/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <ul role="list" class={styles.list}>
      <TestComponent client:only="react" />
      <Card href="/astro_demo/cat/" title="Cat" body="Click to see the cat" />
    </ul>
  </main>
</Layout>
