---
import cn from 'classNames' 
import styles from "./style.module.css";
---

<header class={styles.header}>
  <div class="container">

    <span class={cn("text-gradient", styles.headerText)}>HEADER HEADER HEADER</span>
  </div>
</header>
